<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet> 
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>com.nttdata.masterthesis.javabackend.listener.EventListener</listener-class>
    </listener>
    
    
    <login-config>
        
        <auth-method>BASIC</auth-method>
        <realm-name>userMgmtJdbcRealm</realm-name>
       <!--
         <form-login-config>
          <form-login-page>/index.jsp</form-login-page>
          <form-error-page>/login.jsp?auth-error=1</form-error-page>
        </form-login-config>
        -->
        
        
    </login-config>
    
    <!-- define order of filter execution --> 
    <!-- this can't be done thru Annotations -->
    <filter-mapping>
        <filter-name>http2https</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>auth</filter-name>
        <url-pattern>/rest/secure/*</url-pattern>
    </filter-mapping>
    
    
  
  <!-- declare the roles relevant for our webapp -->
  <security-role>
    <role-name>ADMINISTRATOR</role-name>
  </security-role>
  <security-role>
    <role-name>USER</role-name>
  </security-role>
  <security-role>
    <role-name>DEFAULT</role-name>
  </security-role>
  
   
  <session-config>
    <!-- on productive systems you might have another value for the timeout -->
    <session-timeout>5</session-timeout>
    <!-- 
       we don't want to use the default name JSESSIONID because this 
       tells everyone (especially hackers) that our application is based on java 
    -->
    <cookie-config>
      <name>SESSIONID</name>
      <http-only>true</http-only>
      <secure>true</secure>
      <max-age>30000</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
    
  </session-config>
    
</web-app>
